
@font-face {
    font-family: 'AegyptusBold';
        src: url('../fonts/AegyptusBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'AegyptusBold';
    font-weight: bold;
    font-style: normal;
    font-size: 1.05em;
}

button {
  background-image: url("../img/button.png");
  background-size:100% 100%;
  border:none;
}


button.highlight {
  background-image: none;
}

.background {
  z-index: -1;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: blue;
  overflow: hidden;

  background-image: url("../img/nomad.png");
  background-size: 100% 100%;

  filter: blur(8px);
  margin-top: -8px;
  padding-bottom: 16px;
  margin-left: -8px;
  padding-right: 16px;
  transform: scale(1.08);

}

#map {
}

.travel {
  margin-left: 10%;
  margin-right: 10%;
}

.travelinfo {
  background-color: rgba(219, 209, 140, 0.55);
}

.highlight {
  background-color: green;
}

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.header img {
  float: right;
  position: absolute;
  width: auto;
  padding: 0;
}

.header h1 {
  position: relative;
}

@media only screen and (max-width: 800px) {
 body {
   width: 100%;
   min-width:100%;
   margin:0;
   padding:0;
 }

 .header img {
   position: relative;
 }
}

.infobutton {
  font-size:12px;
  color:white;
  background-color:rgba(50,50,50,0.2);
}

#canvas {
  position: fixed;
  margin: 0;
  pointer-events:none;
}

.actionheader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.core {
  font-size: 14px;
  text-align: center;
}

.bigactionheader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align:center;
  background-color:rgba(255,255,255,0.1);
  padding-top:0;
  margin-bottom: 10px;
  grid-column: 1/4;
}

.header {
  grid-column: 1/4;
}

.textcenter {
    text-align: center;
}

area {
  display: block;
  cursor: pointer;
}

.logininput {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
