<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="data:;base64,=">
<title>Multiclicker</title>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-142188591-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<style>

.background {
  z-index: -1;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: blue;
  overflow: hidden;

  background-image: url("img/nomad.png");
  background-size: 100% 100%;

  filter: blur(8px);
  margin-top: -8px;
  padding-bottom: 16px;
  margin-left: -8px;
  padding-right: 16px;
  transform: scale(1.08);

}

.highlight {
  background-color: green;
}

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.header img {
  float: right;
  position: absolute;
  width: auto;
  padding: 0;
}

.header h1 {
  position: relative;
}

@media only screen and (max-width: 800px) {
 body {
   width: 100%;
   min-width:100%;
   margin:0;
   padding:0;
 }

 .header img {
   position: relative;
 }
}

.infobutton {
  font-size:12px;
  color:white;
  background-color:rgba(50,50,50,0.2);
}

canvas {
  position: absolute;
  margin: 0;
  pointer-events:none;
}

.actionheader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.core {
  font-size: 14px;
  text-align: center;
}

.bigactionheader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align:center;
  background-color:rgba(255,255,255,0.1);
  padding-top:0;
  margin-bottom: 10px;
  grid-column: 1/4;
}

.header {
  grid-column: 1/4;
}

.textcenter {
    text-align: center;
}

area {
  display: block;
  cursor: pointer;
}
</style>
<script type="text/javascript" src="js/socket.io.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>

<script>
var socket = window.location.hostname == "qewasd.com" ? io({path:"/multisocket/socket.io/"}) : io(":9999");

function send(type, data) {
  socket.emit("json", {"type":type, "data":data})
}

socket.on('connect', function(){
  var name = "" + new Date().getTime();
  send("login", {"name":name})
});

socket.on('event', function(data){
  console.log(data)
});

socket.on('json', function(message){
  //console.log(message)
  var type = message["type"]
  var data = message["data"]
  console.log(type, data)
  if (type == "login") {
    console.log("LOGIN:", data)
  } else if (type == "player") {
    app.player = data;
  } else if (type == "markets") {
    app.markets = data;
    if (Object.keys(app.market).length == 0) {
      app.getMarket(app.markets[0])
    }
  } else if (type == "market") {
    app.market = data;
    app.order.price = data["lastprice"]
    app.order.estprice = data["lastprice"]
    app.order.item = data["item"]
  } else if (type == "craftable") {
    app.craftable = data;
  } else if (type == "cities") {
    app.cities = data;
  } else if (type == "routes") {
    app.routes = data;
  }
});

socket.on('message', function(data){
  console.log(data)
});

socket.on('disconnect', function(){

});

window.addEventListener("beforeunload", function() {
  console.log("Disconnecting...")
  socket.disconnect();
});
</script>
</head>
<body>
<div class="background"></div>
<canvas id="canvas" width="640" height="480"></canvas>
<div id="app">

  <div style="display:grid;grid-template-columns:50% 50%;">
    <div>
      <div>
        <h1 class="header">Inventory</h1>
        <div v-for="(value, key) in player.inventory">
          {{key}}: {{value}}
        </div>
      </div>


      <div>
        <h1 class="header">Crafting</h1>
        <div v-for="(value, key) in craftable">
          {{ key }} : <button v-on:click="craft(key)">{{ value[0] }}</button>
        </div>
      </div>
    </div>

    <div>
      <h1 class="header">Map</h1>
      <img id="map" src="img/overlay.jpg" usemap="#workmap">
      <map name="workmap">
        <div v-for="city in cities"><!--[0],city.coords[1],city.coords[2],city.coords[3]-->
          <area shape="rect" v-bind:coords="[city.coords[0], city.coords[1], city.coords[0]+50, city.coords[1]+50].join()" v-on:click="travel(city.name)">
        </div>
      </map>
    </div>
  </div>

  <div style="display:grid;grid-template-columns:10% 90%;grid-auto-flow:row;">
    <h1 class="header">Trading</h1>

    <div>
      <h2>Markets</h2>

      <div v-for="(marketname, index) in markets">
        <button v-on:click="getMarket(marketname)" v-bind:class="{highlight: marketname==market.item}">{{marketname}}</button>
      </div>
    </div>

    <div style="display:grid;grid-template-columns:50% 50%;">
      <h2 class="header">Market</h2>

      <div>
        <h3 class="bigactionheader">Orders</h3>

        <div>
          <h4 class="bigactionheader">Sells</h4>
          <div v-for="(order, index) in market.sells">
            Price: {{order.price}} Volume: {{order.volume}}
            <button v-if="order.own" onclick="cancelOrder(order.id)">Cancel</button>
            <button v-if="!order.own" onclick="acceptOrder(order.id)">Accept</button>
          </div>
        </div>

        <div>
          <h4 class="bigactionheader">Buys</h4>
          <!--Collate-->
          <div v-for="(order, index) in market.buys">
            Price: {{order.price}} Volume: {{order.volume}}
            <button v-if="order.own" onclick="cancelOrder(order.id)">Cancel</button>
            <button v-if="!order.own" onclick="acceptOrder(order.id)">Accept</button>
          </div>
        </div>
      </div>

      <div>
        <h3 class="bigactionheader">Chart</h3>
      </div>

      <br>
      <div style="display:grid;grid-template-columns:100% 50%;">
        <h3 class="bigactionheader">Order</h3>
        <div>
          <h4>Place order</h4>
          <input type="radio" v-model="order.bos" id="buy" value="buy"><label for="buy">Buy</label></input>
          <input type="radio" v-model="order.bos" id="sell" value="sell"><label for="sell">Sell</label></input>
          <br>
          <select v-model="order.type">
            <!--<option disabled value="">Please select one</option>-->
            <option value="limit">Limit</option>
            <option value="market">Market</option>
          </select>Type
          <br>
          <input type="text" v-on:change="orderChange(0)" v-model.number="order.volume" type="number">Volume</input><br>
          <div v-if="order.type=='limit'">
            <input type="text" v-on:change="orderChange(1)" v-model.number="order.price" type="number">Price</input><br>
            <input type="text" v-on:change="orderChange(2)" v-model.number="order.cost" type="number">Cost</input><br>
          </div>
          <div v-if="order.type=='market'">
            <input type="text" v-model.number="order.estprice" type="number" disabled>Estimated Price</input><br>
            <input type="text" v-model.number="order.estcost" type="number" disabled>Estimated Cost</input><br>
          </div>
          <button v-on:click="submitOrder()">Submit</button><br>
        </div>

        <div>
          <h4>My orders</h4>
          <div v-for="(order, index) in orders">
            <button onclick="cancelOrder(order.id)">Cancel</button>
          </div>
        </div>
      </div>
    </div>


</div>


<script>

function indexOfSmallest(a) {
 return a.indexOf(Math.min.apply(Math, a));
}

function count(array, el) {
  var count = 0;
  for(var i = 0; i < array.length; ++i){
      if(array[i] == el)
          count++;
  }
  return count;
}


var app = new Vue({
  el: '#app',
  data: {
    player: {},
    bos: "buy",
    orders: [],
    order: {bos: "buy", type: "limit"},
    markets: [],
    market: {},
    loc: [0, 0, 0],
    craftable: {},
    cities: [],
    routes: [],
  },
  methods: {
    decide(name) {
      socket.emit("json", {"type":"decision", "data":name})
    },
    getMarket(name) {
      send("market", name)
    },
    submitOrder() {
      send("order", app.order)
    },
    orderChange(index) {
      if (app.order.type=="limit") {
        app.loc[index] = new Date().getTime();

        if (count([app.order.volume, app.order.price, app.order.cost], null) < 2) {
          var smol = indexOfSmallest(app.loc)

          if (smol == 0) {
            app.order.volume = app.order.cost/app.order.price
          } else if (smol == 1) {
            app.order.price = app.order.cost/app.order.volume
          } else if (smol == 2) {
            app.order.cost = app.order.volume*app.order.price
          }
        }
      } else {
        if (app.order.estprice != null) {
          app.order.estcost = app.order.volume * app.order.estprice;
        }
      }
    },
    craft(item) {
      send("craft", {"item":item, "count":1})
    },
    travel(city) {
      send("travel", city)
    }
  }
})

var map = document.getElementById("map")

var canvas = document.querySelector('canvas')
var ctx = canvas.getContext("2d")

function getCity(name) {
  for (var city of app.cities) {
    if (city.name == name) {
      return city
    }
  }
}

function draw() {

  var rect = map.getBoundingClientRect();

  canvas.style.left = rect.left + "px";
  canvas.style.top = rect.top + "px";

  ctx.canvas.width  = rect.width;
  ctx.canvas.height = rect.height;

  var city = getCity(app.player.location)

  if (city) {
    for (var route of app.routes) {
      var other = null;
      if (route[0]==city.name) {
        other = getCity(route[1])
      } else if (route[1]==city.name) {
        other = getCity(route[0])
      }

      if (other!=null) {
        ctx.beginPath();
        ctx.lineWidth = "4";
        ctx.strokeStyle = "orange";
        ctx.moveTo(city.coords[0], city.coords[1])
        ctx.lineTo(other.coords[0], other.coords[1]);
        ctx.stroke();
      }
    }

    ctx.beginPath();
    ctx.lineWidth = "6";
    ctx.strokeStyle = "red";
    ctx.rect(city.coords[0], city.coords[1], city.coords[2], city.coords[3]);
    ctx.stroke();
  }

  //ctx.drawImage(window["grass"], g1, 0)
}

setInterval(draw, 100)

function getCursorPosition(canvas, event) {
    const rect = canvas.getBoundingClientRect()
    const x = event.clientX - rect.left
    const y = event.clientY - rect.top
    console.log("x: " + x + " y: " + y)
}

canvas.addEventListener('mousemove', function(e) {
    //getCursorPosition(canvas, e)
})



</script>
</body>
</html>
