<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/time.png">
<title>Multiclicker</title>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-142188591-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<script src="js/lightweight-charts.standalone.production.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="js/socket.io.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>

</head>
<body>
<div class="background"></div>

<div id="app">

  <div>
    <form onsubmit="event.preventDefault();">
    <input type="text" class="logininput" id="username" autocomplete="username" size="6" :disabled="player.password"></input>
    <template v-if="!player.password">
      <button v-on:click="randomName()">Random name</button><br>
      <input type="password" class="logininput" id="password" autocomplete="current-password" size="6"></input>
      <button v-on:click="saveLogin()">Save and Login</button><br>
    </template>
    </form>
  </div>

  <div v-if="player" style="display:grid;grid-template-columns:75% 25%">

    <div v-if="player.inventory">
      <div style="display:grid;grid-template-columns:20% 80%;grid-auto-flow:row;">
        <div>
          <button v-on:click="logout()">Logout</button><br>
          <img src="img/time.png"></img>Time: {{player.inventory.time}}<br>
          <img src="img/weight.png"></img>Weight: {{player.weight}}/{{player.capacity}}<br>
        </div>

        <div style="display:grid;grid-template-columns:33% 33% 33%">



          <div>
            <h2 class="header">Inventory</h2>

            <div v-for="(value, key) in player.inventory">
              <div v-if="key!='time'">
                <img v-bind:src="'img/'+key+'.png'" alt=""></img>
                {{key}}: {{value}}
                <button  v-on:click="store(key)">Store</button>
              </div>
            </div>

            <!--
            Amount
            <input type="radio" v-model="storeamount" id="sa1" value="1"><label for="sa1">1</label></input>
            <input type="radio" v-model="storeamount" id="sa2" value="10"><label for="sa2">10</label></input>
            <input type="radio" v-model="storeamount" id="sa3" value="100"><label for="sa3">100</label></input>
            <input type="radio" v-model="storeamount" id="sa4" value="1000"><label for="sa4">1000</label></input>
            <input type="radio" v-model="storeamount" id="sa5" value="10000"><label for="sa5">10000</label></input>
            -->

          </div>

          <div>
            <h2 class="header">Local storage</h2>
            <div v-for="(value, key) in player.storage[player.location]">
              {{key}}: {{value}}
              <button v-on:click="unstore(key)">Unstore</button>
            </div>
          </div>

          <div v-if="cities">
            <h2 class="header">Crafting</h2>
            <div v-for="(value, key) in getCurrentCity().craftable">
              {{ key }}
              <template v-if="key in items && items[key].hasOwnProperty('weight')">
                {{ "("+items[key]['weight']+"w)" }}
              </template>
              <template v-if="key in items && items[key].hasOwnProperty('capacity')">
                {{ "("+items[key]['capacity']+"c)" }}
              </template>
              <button v-on:click="craft(key)">{{ joinDict(value[0]) }}</button>
            </div>
          </div>

        </div>
      </div>

        <div style="display:grid;grid-template-columns:10% 90%;grid-auto-flow:row;">

          <div>
            <h2>Goods</h2>

            <div v-for="(marketname, index) in markets">
              <button v-on:click="getMarket(marketname)" v-bind:class="{highlight: marketname==market.item}">{{marketname}}</button>
            </div>
          </div>

          <div style="display:grid;grid-template-columns:50% 50%;">
            <h2 class="header">Local market - Currency: {{market.currency}}</h2>

            <div>
              <h3 class="bigactionheader">Orders</h3>

              <div>
                <h4 class="bigactionheader">Sells</h4>
                <div v-for="(order, index) in market.sells">
                  Price: {{order.price}} Volume: {{order.volume}} Total: {{order.price*order.volume}}
                  <button v-if="order.own" v-on:click="cancelOrder('sells', order.oid)">Cancel</button>
                  <button v-if="!order.own" v-on:click="acceptOrder('sells', order.oid)">Accept</button>
                </div>
              </div>

              <div>
                <h4 class="bigactionheader">Buys</h4>
                <!--Collate-->
                <div v-for="(order, index) in market.buys">
                  Price: {{order.price}} Volume: {{order.volume}} Total: {{order.price*order.volume}}
                  <button v-if="order.own" v-on:click="cancelOrder('buys', order.oid)">Cancel</button>
                  <button v-if="!order.own" v-on:click="acceptOrder('buys', order.oid)">Accept</button>
                </div>
              </div>
            </div>

            <div ref="chart">
              <h3 class="bigactionheader">Chart</h3>
              <marketchart :key="market"></marketchart>
            </div>

            <br>
            <div style="display:grid;grid-template-columns:100% 50%;">
              <h3 class="bigactionheader">Order</h3>
              <div>
                <h4>Place order</h4>
                <input type="radio" v-model="order.bos" id="buy" value="buy"><label for="buy">Buy</label></input>
                <input type="radio" v-model="order.bos" id="sell" value="sell"><label for="sell">Sell</label></input>
                <br>
                <select class="logininput" v-model="order.type">
                  <!--<option disabled value="">Please select one</option>-->
                  <option value="limit">Limit</option>
                  <option value="market">Market</option>
                </select>Type
                <br>
                <input type="text" class="logininput" size="4" v-on:change="orderChange(0)" v-model.number="order.volume" type="number">Volume</input><br>
                <div v-if="order.type=='limit'">
                  <input type="text" class="logininput" size="4" v-on:change="orderChange(1)" v-model.number="order.price" type="number">Price</input><br>
                  <input type="text" class="logininput" size="4" v-on:change="orderChange(2)" v-model.number="order.cost" type="number">Cost</input><br>
                </div>
                <div v-if="order.type=='market'">
                  <input type="text" class="logininput" size="4" v-model.number="order.estprice" type="number" disabled>Estimated Price</input><br>
                  <input type="text" class="logininput" size="4" v-model.number="order.estcost" type="number" disabled>Estimated Cost</input><br>
                </div>
                <button v-on:click="submitOrder()">Submit</button><br>
                <div v-if="info">
                  {{info}}
                </div>
              </div>


              <!--
              <div>
                <h4>My orders</h4>
                <div v-for="(order, index) in orders">
                  <button onclick="cancelOrder(order.id)">Cancel</button>
                </div>
              </div>
            -->
            </div>
          </div>
        </div>

      </div>

    <div class="travel">
      <canvas id="canvas" width="640" height="480"></canvas>
      <div>
        <h2 class="header">Map - {{ player.location }}</h2>
        <img id="map" src="img/overlay.jpg" usemap="#workmap">
        <map name="workmap">
          <div v-for="city in cities"><!--[0],city.coords[1],city.coords[2],city.coords[3]-->
            <area shape="rect" v-bind:coords="[city.coords[0]-10, city.coords[1]-10, city.coords[0]+10, city.coords[1]+10].join()" v-on:click="getTravelInfo(city.name)">
          </div>
        </map>
      </div>

      <div class="travelinfo" v-if="travelinfo">
        <h2 class="header">Travelinfo</h2>
        To {{ travelinfo.city }}
        <div v-for="(costs, mode) in travelinfo.costs">
          by {{ mode }}
          <div v-for="(value, key) in costs">
            {{key}}:{{value}}
          </div>
          <button v-on:click="travel(travelinfo.city, mode)">{{mode == "camel" ? "Depart" : "Set Sail"}}</button>
        </div>
      </div>

      <div v-if="!travelinfo">
      </div>
    </div>

  </div>
</div>

<a href="https://void4.github.io">
  <img id="ra" style="position:fixed; bottom: 0; right: 0px;" width="30" src="img/ra.png"></img>
</a>

<script src="js/logic.js"></script>
</body>
</html>
